<h1>Rotate Text 13 Characters</h1>
<div class="row-fluid">
	<div class="span6">
		<h2>Synopsys</h2>
		<p>This is an implementation of the Rot13 function. Since the english alphabet contains 26 characters, by simply offsetting them by 13 characters, the resulting text is mangled and unreadable. Since this offset is exactly half of the character set, the encryption and decryption method is exactly the same.</p>

		<h2>Strengths</h2>
		<p>It is fast to calculate, easy to do on paper, and not too difficult to do in your head.</p>

		<h2>Weaknesses</h2>
		<p>It only works on letters, you can still see word structures, numbers, special characters, and spaces.</p>
		<p>While it is fun to use for sending messages to your friends, it has no real-world practicality these days.</p>

		<h2>Further Reading</h2>
		<a href="http://en.wikipedia.org/wiki/ROT13" target="_blank">ROT13 on Wikipedia</a>

	</div>
	<div class="span6">
		<div class="conversion-grouping">
			<h2>Plaintext/Cyphertext (Input)</h2>
			<form method="post" action="/rotate/rot13" class="api-form" data-action="/api/rotate/rot13">
				<div><textarea name="input" class="span12" rows="10" maxlength="8192">Twas brillig, and the slithy toves
	Did gyre and gimble in the wabe;
	All mimsy were the borogoves,
	And the mome raths outgrabe.
	12345</textarea></div>
				<div><button class="btn btn-primary">ROT13 Above Text</button></div>
			</form>

			<h2>Cyphertext/Plaintext (Output)</h2>
			<pre class="encryption-result"></pre>
		</div>
	</div>
</div>
